<div class="main-login">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
        <h1>{{loginOptions?.title}}</h1>
        <div class="form">
            <form-group-input [abstractControl]="username" [dictErrors]="usernameErrors">
                <input type="text" name="username" aria-label="username" autocomplete="off" required
                    formControlName="username" [readonly]="isReadOnly" />
                <label for="username" class="label-name">
                    <span class="content-name">{{loginOptions?.usernameLabel}}</span>
                </label>
            </form-group-input>
        </div>
        <div class="form">
            <input type="password" name="password" autocomplete="off" required formControlName="password"
                [readonly]="isReadOnly" />
            <label for="password" class="label-name">
                <span class="content-name">{{loginOptions?.passwordLabel}}</span>
            </label>
        </div>
        <div class="form">
            <button class="def-button" type="submit"
                [disabled]="loginForm.invalid">{{loginOptions?.loginLabel}}</button>
        </div>
        <div class="form">
            <button *ngIf="isGoogleProvider" class="def-button social-login social-login__google" type="button"
                (click)="onLoginGoogle()">
                <span class="google-icon__white"></span>
                <span class="social-login__caption">Google</span></button>
        </div>
        <div class="form">
            <button *ngIf="isFacebookProvider" class="def-button social-login social-login__facebook" type="button">
                <img class="facebook-icon__white" src="/assets/icons/facebook/login.png">
                <span class="social-login__caption">Facebook</span></button>
        </div>
        <div class="form">
            <button class="def-button" type="button" (click)="signOut()">Sign out social</button>
        </div>
        <div class="form">
            <img src="{{ user?.photoUrl }}">
            <div>
                <h4>{{ user?.name }}</h4>
                <p>{{ user?.email }}</p>
            </div>
        </div>
    </form>
</div>