.main-layout {
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 60px calc(100% - 60px);
    grid-template-areas: 
    "navheader navheader"
    "navsidebar mainbody";
}

.nav-header {
    grid-area: navheader;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5d4954;
    font-family: 'Poppins', sans-serif;
}

.nav-sidebar {
    grid-area: navsidebar;
    background-color: #5d4954;
    display: flex;
}

.main-body {
    grid-area: mainbody;
    background-color: lightblue;
}

.logo {
    color: #dfdbdb;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    flex: 1;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}

.nav-links li {
    list-style: none;
}

.nav-links a{
    color: #dfdbdb;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.menu-icon {
    display: none;
}

.menu-icon div{
    width: 25px;
    height: 3px;
    background-color: #dfdbdb;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .main-layout {
        grid-template-columns: 1fr;
        grid-template-rows: 60px calc(100% - 60px);
        grid-template-areas: 
        "navheader"
        "mainbody";
    }

    .nav-sidebar {
        position: absolute;
        width: 60%;
        height: 100vh;
        top: 0px;
        left: 0%;
        transform: translateX(-100%);
        transition: transform 0.5s ease-in;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }

    .nav-active {
        transform: translateX(0%);
    }

    .nav-links li {
        opacity: 0;
    }
/*
    .nav-links {
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        background-color: #5d4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }



    
    */
}

@keyframes navLinksFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line-1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line-2 {
    opacity: 0;
}

.toggle .line-3 {
    transform: rotate(45deg) translate(-5px, -6px);
}