<div>
    <nav>
        <div class="logo">
            <h4>The Nav</h4>
        </div>
        <ul class="nav-links" [ngClass]="{'nav-active': isToggleMenu}">
            <li *ngFor="let menuItem of menuItems; let i = index">
                <a href="#">{{menuItem}}</a>
            </li>
        </ul>
        <div class="menu-icon" [ngClass]="{'toggle': isToggleMenu}" (click)="onMenuClick()">
            <div class="line-1"></div>
            <div class="line-2"></div>
            <div class="line-3"></div>
        </div>
    </nav>
</div>