<div class="main-login">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmitLogin()">
        <h1>Title Login</h1>
        <div class="form">
            <form-group-input [abstractControl]="username" [dictErrors]="usernameErrors">
                <input type="text" name="username" aria-label="username" autocomplete="off" required
                    formControlName="username" [readonly]="isReadOnly" />
                <label for="username" class="label-name">
                    <span class="content-name">Username</span>
                </label>
            </form-group-input>
        </div>
        <div class="form">
            <input type="password" name="password" autocomplete="off" required formControlName="password"
                [readonly]="isReadOnly" />
            <label for="password" class="label-name">
                <span class="content-name">Password</span>
            </label>
        </div>
        <div class="form">
            <button class="def-button" type="submit" [disabled]="registerForm.invalid">Log In</button>
        </div>
    </form>
</div>