<div class="main-login">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmitLogin()" autocomplete="off">
        <h1>Title Login</h1>
        <div class="form">
            <input type="text" name="username" autocomplete="off" required formControlName="username"
                [readonly]="isReadOnly" />
            <label for="username" class="label-name">
                <span class="content-name">Username</span>
            </label>
            <div *ngFor="let aError of usernameErrors">
                <small class="form-text-invalid">{{aError}}</small>
            </div>
        </div>
        <div class="form">
            <input type="password" name="password" autocomplete="off" required formControlName="password"
                [readonly]="isReadOnly" />
            <label for="password" class="label-name">
                <span class="content-name">Password</span>
            </label>
            <div *ngFor="let aError of passwordErrors">
                <small class="form-text-invalid">{{aError}}</small>
            </div>
        </div>
        <div class="form">
            <button class="def-button" type="submit">Log In</button>
        </div>
    </form>
</div>